html {
  background-color: #f9fafb;
  font-family: -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  color: #2563eb;
  size: 6rem;
  font-weight: 800;
}

p {
  color: #333333;
}

a {
  color: #059669;
  text-decoration: underline;
}